---
import { getCollection } from 'astro:content';
import PostList from '@/components/PostList.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { SITE_TITLE } from '@/consts';

const posts = (
	await getCollection('posts', ({ data }) => import.meta.env.DEV || !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={SITE_TITLE} description="Alle Beiträge">
	<h1 class="sr-only">{SITE_TITLE}</h1>
	<div>
		{posts.length === 0 ? <p>Noch keine Beiträge.</p> : <PostList {posts} />}
	</div>
</BaseLayout>

<style>
	div {
		margin-top: 1.5em;
	}
</style>
