---
import { SITE_TITLE } from '@/consts';
---

<header>
	<a class="site-title" href="/">{SITE_TITLE}</a>
</header>

<style>
	header {
		width: var(--content-width);
		max-width: 100%;
		margin: 0 auto;
		padding: 2em 1em 0;
	}
	.site-title {
		font-size: 1.4em;
		font-weight: bold;
		font-family: var(--font-heading), system-ui, sans-serif;
		text-decoration: none;
		color: var(--text);
	}
	.site-title:hover {
		color: var(--accent);
	}
</style>
